.columns
  .column
  .column
    %h1 Rails Template

    %h3 How to use this template:

    %p 1. Clone repository.
    %p 2. Rename project folder.
    %p 3. Make a new github repo for new app and change git remote.
    %p 4. Open code in editor, do a global search for "hr_form", and replace with desired app name.
    %p 5. Make a Heroku QA server for new app. Update Heroku QA web address in README.
    %p 6. Make a CircleCI project for new app. Update .circleci/config.yml
    %p 7. Make a top level .env.development and .env.test file
    %p 8. Run `EDITOR=vim rails credentials:edit` to generate a new config/master.key and config/credentials.yml.enc
  .column
