// Icons
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Fonts
// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700');
// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,600,700');

// $font-imb-plex-sans:  'IBM Plex Sans', sans-serif;
// $font-imb-plex-serif: 'IBM Plex Serif', serif;

$font-weight-extra-light: 200;
$font-weight-light:       300;
$font-weight-regular:     400;
$font-weight-semi-bold:   600;
$font-weight-bold:        700;
$font-weight-extra-bold:  800;
$font-weight-black:       900;

// $font-primary: $font-imb-plex-sans
