.app-header {
    background: #f8f9fa !important;
}

.logo {
    margin-left: 35px;
}

.nav-list {
    position: absolute;
    right: 0;
    margin: 0 !important;
    background: #f8f9fa !important;
    line-height: initial !important;
    margin-top: 20px !important;
}

.nav-item {
    background: #f8f9fa;
    font-size: 17px;
}

.ant-menu-item-selected.nav-item {
    color: #201f35 !important;
    border-bottom: 2px solid #f8f9fa !important;
    font-weight: bold;
}