.app-sidebar-menu {
    margin-left:0 !important;
}
.app-sidebar {
    background-color: white !important;
}

.app-sidebar .logo {
    padding-left:24px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected.menu {
    background-color: white;
}